@model Benchy.Results.Models.Projects

@{
    ViewBag.Title = "Project Benchmark Results";
}

<h2>Project Benchmark Results</h2>

<ul>
@foreach (var projItem in Model.ProjectItems)
{
    <li>
        @projItem.Name
        <ul>
        @foreach (var testItem in projItem.BenchmarkItems)
        {
            <li>@Html.ActionLink(testItem.Name, "Details", new { projId = projItem.Name, testId = testItem.Name })</li>
        }
        </ul>
    </li>
}
</ul>